@model IEnumerable<Purple_Umbrella.Models.Report>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCookie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmationNum)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCookie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmationNum)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
