@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iteration 3 HomePage</title>
    @Styles.Render("~/Content/Iteration3/css/style")
    @Scripts.Render("~/bundles/Iteration1")

</head>
<body onload="initiateCookie()">
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top">
                        <div class="logo"></div>
                    </a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="scroll-top">Home</a></li>
                        @*<li>@Html.ActionLink("Navigation Map", "NavigationMap", "Iteration3")</li>*@
                        <li><a href="#" class="scroll-link" data-id="Statistics">Statistics</a></li>
                        <li><a href="#" class="scroll-link" data-id="Aboutus">About Us</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    
        <section class="cd-hero" style="top:-80px;">
            <ul class="cd-hero-slider autoplay">

                <li class="selected first-slide">
                    <div class="cd-full-width">
                        <div class="tm-slide-content-div slide-caption">
                            <br>
                            <h3 class="animated fadeInUp">Preventing street harassment</h3>
                            <h4 class="animated fadeInUp"> A carefully curated map for women pedestrians to avoid being harassed at night in Melbourne CBD </h4>
                            <br>
                            <br>
                            <div class="primary-button">
                                @Html.ActionLink("Getting started", "NavigationMap", "Iteration3", new { area = "" })
                            </div>
                        </div>
                    </div> <!-- .cd-full-width -->
                </li>

                <li class="selected second-slide">
                    <div class="cd-full-width">
                        <div class="tm-slide-content-div slide-caption">
                            <h3 class="animated fadeInUp">Dealing with street harassment</h3>
                            <h4 class="animated fadeInUp">A list of organizations may help</h4>
                            <br>
                            <br>

                            <div class="primary-button">
                                @Html.ActionLink("Getting started", "NavigationMap", "Iteration3", new { area = "" })
                            </div>
                        </div>
                    </div> <!-- .cd-full-width -->
                </li>

            </ul> <!-- .cd-hero-slider -->
            @*<div class="cd-slider-nav">
                <nav>
                    <span class="cd-marker item-1"></span>

                    <ul>
                        <li class="selected"><a href="#0"></a></li>
                        <li><a href="#0"></a></li>
                        <li><a href="#0"></a></li>
                    </ul>
                </nav>
            </div>*@ <!-- .cd-slider-nav -->
        </section> <!-- .cd-hero -->

        <div id="Statistics" class="page-section" style="background-color:#fcf4fc;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h4>Statistics</h4>
                            <div class="line-dec"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="block">
                            <div class="section-title">
                                <h2>Do you know</h2>
                                <h4>How common is street harassment in Australia?</h4>
                                <h3 class="animated fadeInUp" style="color: #7030A0">53% </h3>
                                <p>of women were verbally or physically attacked while walking down the street in Australia. </p>
                                <br>
                                <h4>You may have experienced street harassment</h4>
                                <p>
                                    If anyone has ever<br>
                                    •	Whistled or catcalled at you<br>
                                    •	Followed you or stalked you
                                </p>
                                <br>
                                <!-- <h4>Why stopping street harassment matters</h4>
                  <p>•  It limits people’s access to public spaces and lowers their comfort level there</br>
                     •	It relates to violence because it can cause re-triggering and be especially upsetting for rape survivors</p>
                -->
                            </div>
                        </div>
                    </div><!-- .col-md-7 close -->

                    <div class="col-md-5 col-sm-12">
                        <div class="block">
                            <img src="~/Content/Iteration3/css/img/IMG_2232.jpg" alt="Img">
                        </div>
                    </div><!-- .col-md-5 close -->
                </div>
            </div>
        </div>
        


        <!--Iteration 2-->
        @*<div id="Statistics" class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h4>Statistics</h4>
                            <div class="line-dec"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-item first-service">
                            <div class="icon"></div>
                            <h4>Category 1</h4>
                            <p>Description of category 1</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-item second-service">
                            <div class="icon"></div>
                            <h4>Category 2</h4>
                            <p>Description of category 2</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-item third-service">
                            <div class="icon"></div>
                            <h4>Category 3</h4>
                            <p>Description of category 4</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-item fourth-service">
                            <div class="icon"></div>
                            <h4>Category 4</h4>
                            <p>Description of category 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <!--About US-->
        <div id="Aboutus" class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h4>About Us</h4>
                            <div class="line-dec"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="item b1">
                            <div class="thumb">
                                <div class="text-content">
                                    <p>
                                        Under the theme of Changing Melbourne,
                                        the team Melbourne Wizards focus is on improving women safety in Melbourne city centre.
                                        Purple Umbrella is such a product would be able to display safety index scores of areas in and around Melbourne CBD
                                        the website can be viewed both on a personal computer and a mobile device.
                                        It will be able to show safety index score based on user preference.
                                        The underlying support of achieving the above function is a list of datasets from multiple open data platforms.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 team-logo"></div>
                </div>
            </div>
        </div>
    
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2019 Melbourne Wizards
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </footer>

    @Scripts.Render("~/bundles/Iteration3Defer")
    @Scripts.Render("~/Scripts/Iteration3/cookie.js")
</body>
</html>
